#slider {
    position: relative;
	width: 100%;
}

#header_wrapper {
	width: 100%;
	background: url(../images/templatmeo_header.jpg) no-repeat top center;
}


#header {
	background: url(../images/templatmeo_header.jpg) no-repeat top center;
	width: 980px;
	height: 180px;
	margin: 0 auto;
	padding-top: 35px;
	text-align: center;
}

#menu_wrapper {
	width: 100%;
	background: url(../images/templatemo_menu.jpg) no-repeat top center;
}

#menu {
	background: url(../images/templatemo_menu.jpg) no-repeat top center;
	width: 980px;
	height: 103px;
	margin: 0 auto;
	padding-top: 4px;
}

#content_wrapper {
	width: 100%;
	background: url(../images/templatemo_content.jpg) repeat-y  top center;
}

#content {
	background: url(../images/templatemo_content.jpg) repeat-y top center;
	width: 860px;
	height: 100%;
	padding: 0 60px;
	margin: 0 auto
}



.scroll {
    height: 100%;
    width: 860px;
    overflow: auto;
 /*   overflow-x: hidden; */
    position: relative;
    clear: left;
}

.scrollContainer div.panel {
    height: 100%;
    width: 800px;
	padding: 35px 30px 0 30px;
}

ul.navigation {
	width: 670px;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

ul.navigation li {
    display: inline;
    margin: 0px;
	padding: 0;
}

ul.navigation a {
	float: left;
	display: block;
	width: 104px;
	height: 70px;
	padding: 34px 15px 0;
	color: #FFFFFF;
	font-size: 18px;
	font-weight: bold;
    text-decoration: none;
	text-align: center;
	background: url(../images/templatemo_menu_bg.png) no-repeat top center
}

ul.navigation a:hover, ul.navigation a.selected {
	color: #FFFF00;
}

ul.navigation a:focus {
    outline: none;
}

.scrollButtons {
    position: absolute;
    top: 300px;
    cursor: pointer;
	width: 0;
	height: 0;
}

.scrollButtons.left {
    left: -50px;
}

.scrollButtons.right {
    right: -50px;
}

.hide {
    display: none;
}


.list {
	font-family:sans-serif;
}
td {
	padding:10px;
	border:solid 1px #eee;
}

input {
	border:solid 1px #ccc;
	border-radius: 5px;
	padding:7px 14px;
	margin-bottom:10px
}
input:focus {
	outline:none;
	border-color:#aaa;
}
.sort {
	padding:8px 30px;
	border-radius: 6px;
	border:none;
	display:inline-block;
	color:#fff;
	text-decoration: none;
	background-color: #28a8e0;
	height:30px;
}
.sort:hover {
	text-decoration: none;
	background-color:#1b8aba;
}
.sort:focus {
	outline:none;
}
.sort:after {
	display:inline-block;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid transparent;
	content:"";
	position: relative;
	top:-10px;
	right:-5px;
}
.sort.asc:after {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #fff;
	content:"";
	position: relative;
	top:4px;
	right:-5px;
}
.sort.desc:after {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #fff;
	content:"";
	position: relative;
	top:-4px;
	right:-5px;
}
